<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mon Mini Blog</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="page-layout">

<header>
  <nav>
<a href="" class="logo">BLOG-KO</a>
   <div class="nav-links">
      <a href="/">Qui suis-je</a>
      <a href="/articles">Mes articles</a>
      <a href="/images">Mes images</a>
    </div>
  </nav>
</header>

<main class="content">
  <%= yield %>
</main>
<footer class="site-footer">
  <div class="footer">
    <p>© 2024 — <strong>ANDRIAMIARISON Mandaniaina Precieux</strong></p>
    <p>Email : <a href="mailto:mandaniainaprecieux@yahoo.com">mandaniainaprecieux@yahoo.com</a></p>
    <p>Contact : <a href="tel:+261346122335">+261 34 62 223 35</a></p>
  </div>
</footer>

</body>
</html>
